<style>
    body{
        background-image: url('build/img/bg-.png');
        background-repeat: no-repeat;
        background-size: 100% 100%;

    }
</style>
<!--@section -->
<body class="fundo">
    <header>
        <h1 class="oculta">Login | Plano de Ação</h1>     
    </header>
    <div class="bg-header">
    </div>

    <section class="login">
        <div class="topo-login">
            <h1 class="titulo-login">Plano de Ação</h1>
        </div>
        <div class="conteudo-login">
            <div class="retorno">

                <div class="alert alert-danger" ng-show="error.error">
                    <strong>Whoops!</strong> Erro Ao Efetuar Login.<br><br>
                </div>

                <form class="form-padrao" name="form" role="form" method="POST" ng-submit="login()">
                    <div class="form-group">
                        <input type="text" placeholder="Usuário" name="usuario" ng-model="user.username"  class="form-control" required="required"/>
                        <!-- <div ng-messages="form.usuario.$error" class="help-block" ng-show="form.username.$touched">
                              <div ng-message="required" style="float: left; color: red;">Campo Obrigatório</div> 
                         </div> -->
                    </div>
                    <div class="form-group">
                        <input type="password" placeholder="Password" name="password" class="form-control" ng-model="user.password" required="" />
                        <!--<div ng-messages="form.usuario.$error" class="help-block">
                            <div ng-message="required" style="float: left; color: #ccc;">Campo Obrigatório</div>
                        </div> -->
                    </div>
                    <br> <br>
                    <img src="{{assets('build/css/img/486.GIF')}}" class="load" alt="Carregando" style="display: none; width: 50px; height: 50px;"/>

                    <button  type="submit"  class="btn btn-padrao btn-lg">
                        <i class="glyphicon glyphicon-lock"></i> Entrar
                    </button>
                </form>
            </div>
        </div>
    </section>
</body>
<!--
@endsection
-->